/* 
Dev:    Kalin Bowden
Date:   
*/

body
{
    background-color: green;
    color: Black;
}

.container-fluid
{
    padding: 0;
    height: 100em;
}

header
{
    background-color: brown;
    background: linear-gradient(90deg ,#DC143C, firebrick);
    font-size: 1.35em;
    padding-top: .7em;
}

header p
{
    font-size: 1em;
    color: whitesmoke;
    font-family: 'Gudea', sans-serif;
    margin: 0;
    
}

.titleLink
{
    padding-top: 15%;
}

h1
{
    font-size: 1.7em;
    font-family: 'Pacifico', cursive;
    color: whitesmoke;
    text-shadow:black 5px 5px 10px;
    margin: 0;
}

h4
{
    margin-top: 2em;
}


.testEl
{
    background-color: green;
}

a:link
{
    color: whitesmoke;
}

a:visited
{
    color: whitesmoke;
}

a:hover
{
    color: whitesmoke;
}

.orderForm
{
    background: linear-gradient(dimgray, darkslategray);
    color: whitesmoke;
    color: black;
    padding: 2.5em;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.orderRec
{
    background-color: whitesmoke;
    height: 41.55em;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    color: black;
}

.mainForm
{
    margin-top: 5em;
}

.glify
{
    font-size: 2em;
}

.pizzaBox
{
    margin-bottom: 1em;
}

#btnOrder
{
    margin-top: 1.5em;
}

